.lang-menu > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lang-menu > ul > li {
    border: 2px solid #999:
}

.lang-menu > ul > li:checked {
    font-weight: bold;
    border-color: #555;
}

div.es {
    display: block;
}

div.en {
    display: none;
}
